/* REPERES */
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

/*  RESET */
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* GLOBAL */
.container {
  width: 1024px;
  margin: 0 auto;
}

.pv-50 {
  padding: 50px 0;
}

.p-15 {
  padding: 15px;
}

.br-5 {
  border-radius: 5px;
}

.mb-20 {
  margin-bottom: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.overflow-hidden {
  overflow: hidden;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

/*  PROGRESS BAR   */

.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #1da598;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
